{% extends "!layout.html" %}
{% block menu %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0376517639791342"
crossorigin="anonymous"></script>
<!-- Square content -->
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-0376517639791342"
data-ad-slot="1270544982"
data-ad-format="auto"
data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
    {{ super() }}
{% endblock %}

{% block footer %}
    {{ super() }}

<style>
    .wy-menu-vertical a:hover {
        background-color: #08456a;
    }
    /* Sidebar header (and topbar for mobile) */
    .wy-side-nav-search, .wy-nav-top {
        background: #08456a;
    }
    /* Sidebar */
    .wy-nav-side {
        background: #373737;
    }
</style>
{% endblock %}